In [76]:
import pandas as pd
import numpy as np
from warnings import filterwarnings

In [143]:
df=pd.read_csv("tweets_labeled.csv")

In [144]:
df.head()

,tweet_id,tweet,date,label
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-24 21:41:37+00:00,1
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-15 21:00:18+00:00,1
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-13 21:21:36+00:00,1
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 15:03:47+00:00,1
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 20:22:32+00:00,1

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12960 entries, 0 to 12959
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  12960 non-null  int64
 1   tweet     12959 non-null  object
 2   date      12960 non-null  object
 3   label     12960 non-null  int64
dtypes: int64(2), object(2)
memory usage: 405.1+ KB

In [145]:
df=df.dropna()

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12959 entries, 0 to 12959
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  12959 non-null  int64
 1   tweet     12959 non-null  object
 2   date      12959 non-null  object
 3   label     12959 non-null  int64
dtypes: int64(2), object(2)
memory usage: 506.2+ KB

In [94]:
df.head()

,tweet_id,tweet,date,label
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-24 21:41:37+00:00,1
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-15 21:00:18+00:00,1
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-13 21:21:36+00:00,1
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 15:03:47+00:00,1
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 20:22:32+00:00,1

In [146]:
df["date"]=pd.to_datetime(df["date"])

In [96]:
df['date'] = df['date'].dt.tz_convert('Etc/GMT-3')

In [97]:
df.head()

,tweet_id,tweet,date,label
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-25 00:41:37+03:00,1
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,1
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,1
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,1
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,1

In [98]:
def get_season(date):
    month = date.month
    if month in [12, 1, 2]:
        return 'Kış'
    elif month in [3, 4, 5]:
        return 'İlkbahar'
    elif month in [6, 7, 8]:
        return 'Yaz'
    else:
        return 'Sonbahar'

df['mevsim'] = df['date'].apply(get_season)

In [99]:
df.head()

,tweet_id,tweet,date,label,mevsim
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-25 00:41:37+03:00,1,Kış
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,1,Yaz
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,1,Yaz
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,1,Kış
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,1,Kış

In [100]:
df['gün'] = df['date'].dt.day_name()

In [101]:
df.head()

,tweet_id,tweet,date,label,mevsim,gün
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-25 00:41:37+03:00,1,Kış,Sunday
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,1,Yaz,Thursday
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,1,Yaz,Tuesday
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,1,Kış,Sunday
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,1,Kış,Sunday

In [102]:
def get_4hour_period(date):
    hour = date.hour
    return f"{(hour // 4) * 4}:00-{(hour // 4) * 4 + 4}:00"

df['4_saatlik_dilimi'] = df['date'].apply(get_4hour_period)

In [38]:
df.head()

,tweet_id,tweet,date,label,mevsim,gün,4_saatlik_dilimi
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-25 00:41:37+03:00,1,Kış,Sunday,0:00-4:00
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,1,Yaz,Thursday,0:00-4:00
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,1,Yaz,Tuesday,0:00-4:00
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,1,Kış,Sunday,16:00-20:00
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,1,Kış,Sunday,20:00-24:00

In [147]:
df['label'] = np.where(df['label'] == 1, 'pozitif', 
                        np.where(df['label'] == -1, 'negatif', 'nötr'))

In [104]:
df.head()

,tweet_id,tweet,date,label,mevsim,gün,4_saatlik_dilimi
0,1606767075984375808,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-25 00:41:37+03:00,pozitif,Kış,Sunday,0:00-4:00
1,1537178207677448193,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,pozitif,Yaz,Thursday,0:00-4:00
2,1536458790802972673,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,pozitif,Yaz,Tuesday,0:00-4:00
3,1495413883166760960,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,pozitif,Kış,Sunday,16:00-20:00
4,1490420667614904334,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,pozitif,Kış,Sunday,20:00-24:00

In [47]:
for i in df.columns:
    if df[i].dtypes=="int64":
        print(i)

tweet_id

In [46]:
for i in df.columns:
    if df[i].dtypes=="O":
        print(i)

tweet
label
mevsim
gün
4_saatlik_dilimi

In [105]:
df=df.drop("tweet_id",axis=1)

In [106]:
df.head()

,tweet,date,label,mevsim,gün,4_saatlik_dilimi
0,Berk Ali (kedim) seni çok özledim. Ölmek için ...,2022-12-25 00:41:37+03:00,pozitif,Kış,Sunday,0:00-4:00
1,"Yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,pozitif,Yaz,Thursday,0:00-4:00
2,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,pozitif,Yaz,Tuesday,0:00-4:00
3,"Öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,pozitif,Kış,Sunday,16:00-20:00
4,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,pozitif,Kış,Sunday,20:00-24:00

### Sadece küçük harfe çevirdik başka işlemler yapmadık

In [148]:
df["tweet"]=df["tweet"].str.lower()

In [108]:
df.head(2)

,tweet,date,label,mevsim,gün,4_saatlik_dilimi
0,berk ali (kedim) seni çok özledim. ölmek için ...,2022-12-25 00:41:37+03:00,pozitif,Kış,Sunday,0:00-4:00
1,"yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,pozitif,Yaz,Thursday,0:00-4:00

In [109]:
from sklearn.preprocessing import LabelEncoder

In [149]:
df["label"]=LabelEncoder().fit_transform(df["label"])

In [111]:
df.head()

,tweet,date,label,mevsim,gün,4_saatlik_dilimi
0,berk ali (kedim) seni çok özledim. ölmek için ...,2022-12-25 00:41:37+03:00,2,Kış,Sunday,0:00-4:00
1,"yani, öylesine ciddiye alacaksın ki yaşamayı, ...",2022-06-16 00:00:18+03:00,2,Yaz,Thursday,0:00-4:00
2,saçlarının gölgesinde\nölmek ne güzeldi,2022-06-14 00:21:36+03:00,2,Yaz,Tuesday,0:00-4:00
3,"öyle güzel baktın ki, gözlerime\nsevmek değil ...",2022-02-20 18:03:47+03:00,2,Kış,Sunday,16:00-20:00
4,sevmek biri için ölmek değil her şeye rağmen y...,2022-02-06 23:22:32+03:00,2,Kış,Sunday,20:00-24:00

In [150]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [151]:
tf_idf_word_vectorizer=TfidfVectorizer()

In [152]:
X=df["tweet"]
y=df["label"]

In [153]:
X=tf_idf_word_vectorizer.fit_transform(X)

In [122]:
from sklearn.linear_model import LogisticRegression

In [154]:
log_model=LogisticRegression().fit(X,y)

C:\Users\iremu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [155]:
from sklearn.model_selection import cross_val_score, GridSearchCV, cross_validate

In [156]:
cross_val_score(log_model,
                X,
                y,scoring="accuracy",
                cv=5).mean()

C:\Users\iremu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\iremu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\iremu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\iremu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\iremu\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.662013004416999

In [157]:
df2=pd.read_csv("tweets_21.csv")

In [133]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13272 entries, 0 to 13271
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  13272 non-null  int64
 1   tweet     13272 non-null  object
 2   date      13272 non-null  object
dtypes: int64(1), object(2)
memory usage: 311.2+ KB

In [134]:
df2.head()

,tweet_id,tweet,date
0,1344798002490314752,Kardesim (12) sevdigi cocuga 00:00 da ilan-i a...,2021-01-01 03:10:03
1,1344799527673470977,Bu yılbaşı da saat tam 00:00'da swni seviyorum...,2021-01-01 03:16:07
2,1344799907719348226,tam 00.00da naptınız ben her yıl tam bu vakit ...,2021-01-01 03:17:37
3,1344800782802165762,00:00'da havai fişek gösterisi yapıldı tam dib...,2021-01-01 03:21:06
4,1344805589990453249,31 aralık saat 00.00 da yeni yılımızı kutlayan...,2021-01-01 03:40:12

In [158]:
X=tf_idf_word_vectorizer.transform(df2["tweet"])

In [159]:
y_pred = log_model.predict(X)

In [162]:
df2["label"]=y_pred

In [163]:
df2.head()

,tweet_id,tweet,date,label
0,1344798002490314752,Kardesim (12) sevdigi cocuga 00:00 da ilan-i a...,2021-01-01 03:10:03,1
1,1344799527673470977,Bu yılbaşı da saat tam 00:00'da swni seviyorum...,2021-01-01 03:16:07,1
2,1344799907719348226,tam 00.00da naptınız ben her yıl tam bu vakit ...,2021-01-01 03:17:37,1
3,1344800782802165762,00:00'da havai fişek gösterisi yapıldı tam dib...,2021-01-01 03:21:06,1
4,1344805589990453249,31 aralık saat 00.00 da yeni yılımızı kutlayan...,2021-01-01 03:40:12,1

In [164]:
df2["label"].value_counts()

label
1    11467
0      965
2      840
Name: count, dtype: int64